<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body background="hope.jpg">
<div>
    <form method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="ex. MyName_69">

        <label for="pass">Password</label>
        <input type="password" name="password" placeholder="ex. 0-9, @#$%, aA-zZ">

        <label for="pass">Confirm Password</label>
        <input type="password" name="conf_password" placeholder="Repeat from above">

        <label for="email">Email</label>
        <input type="email" name="email" placeholder="ex. name@domain.com">

        <input type="submit" value="submit">
    </form>
</div>
</body>
</html>